<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ClazzMapper">
    <insert id="insert">
        INSERT INTO clazz VALUES
                (#{id},#{name},#{room},#{beginDate},#{endDate},#{masterId},#{subject},#{createTime},#{updateTime})
    </insert>
    <update id="updateById">
        update clazz
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="room!=null">
                room=#{room},
            </if>
            <if test="beginDate!=null">
                begin_date=#{beginDate},
            </if>
            <if test="endDate!=null">
                end_date=#{endDate},
            </if>
            <if test="masterId!=null">
                master_id=#{masterId},
            </if>
            <if test="subject!=null">
                subject=#{subject},
            </if>
            <if test="createTime!=null">
                create_time=#{createTime},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="list">
        select * from clazz c
        <where>
            <if test="name !=null and name !=''">
              c.name like concat('%',#{name},'%')
            </if>
            <if test="begin !=null">
             and c.begin_date>=#{begin}
            </if>
            <if test="end !=null">
              and c.end_date &lt;= #{end}
            </if>
        </where>
        order by c.update_time desc
    </select>
    <select id="getById" resultMap="ClazzResultMap">
        select * from clazz where id=#{id}
    </select>

    <resultMap id="ClazzResultMap" type="com.itheima.pojo.Clazz">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="room" property="room"/>
    <result column="begin_date" property="begin"/>
    <result column="end_date" property="end"/>
    <result column="master_id" property="masterId"/>
    <result column="subject" property="subject"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    </resultMap>
</mapper>